/* Icone */
.topografia-gradient-drop-icon .first-stop,
.idraulica-gradient-drop-icon .first-stop,
.strade-gradient-drop-icon .first-stop,
.altro-gradient-drop-icon .first-stop {
  stop-color: #D34316; 
}

.topografia-gradient-drop-icon .second-stop {
  stop-color: #6AA237; 
}

.idraulica-gradient-drop-icon .second-stop {
  stop-color: #1B6BC9;
}

.strade-gradient-drop-icon .second-stop {
  stop-color: #EA801E;
}

.altro-gradient-drop-icon .second-stop {
  stop-color: #C81D98;
}

.topografia-drop-icon path {
  fill: #6AA237;
}

.strade-drop-icon path {
  fill: #EA801E;
}

.idraulica-drop-icon path {
  fill: #1B6BC9;
}

.altro-drop-icon path {
  fill: #C81D98;
}

.topografia-color-text {
  color: #6AA237;
}

.strade-color-text {
  color: #EA801E;
}

.idraulica-color-text {
  color: #1B6BC9;
}

.altro-color-text {
  color: #C81D98;
}

/* hr lines */
.purple-line {
  background: #962D79;
}

.topografia-line {
  background: #6AA237;
}

.strade-line {
  background: #EA801E;
}

.idraulica-line {
  background: #1B6BC9;
}

.altro-line {
  background: #C81D98;
}

.hero-primari,
.hero-secondari  {
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-primari .container {
    padding-top: 15%;
    padding-right: 30%;
    padding-bottom: 5%;
    overflow: hidden;
}

.hero-primari .container img {
    height: 12rem;
    width: auto;
}

.hero-secondari .container img {
  height: 5rem;
  width: auto;
}

.hero-primari .container p, 
.hero-secondari .container p {
    color: #BFBFBF;
    font-weight: 400;
}

.hero-secondari .container h2 {
  color: #BFBFBF;
}

.hero-secondari .container {
  padding-top: 10%;
  padding-right: 30%;
  padding-bottom: 5%;
  overflow: hidden;
}

.intro-title {
  padding-top: 7.5rem;
  background-color: #F9F9F9;
}

.gradient-civil-text {
    background-color: #67a237;
    background-image: linear-gradient(90.14deg, #67A237 0.13%, #409BA3 99.86%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.gradient-cad-text {
  background-color: #CD2127;
  background-image: linear-gradient(74.59deg, #CD2127 0%, #FEC13B 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.civil-gradient-background {
  background: linear-gradient(90.14deg, #67A237 0.13%, #409BA3 99.86%);
  color: white;
}

.cad-gradient-background {
  background: linear-gradient(74.59deg, #CD2127 0%, #FEC13B 100%);
  color: white;
}

.topografia-gradient-background {
  background: radial-gradient(65.67% 100% at 50% 100%, #D34316 0%, #6AA237 100%);
}

.strade-gradient-background {
  background: radial-gradient(65.67% 100% at 50% 100%, #D34316 0%, #EA801E 100%);
}

.idraulica-gradient-background {
  background: radial-gradient(65.67% 100% at 50% 100%, #D34316 0%, #1B6BC9 100%);
}

.altro-gradient-background {
  background: radial-gradient(65.67% 100% at 50% 100%, #D34316 0%, #C81D98 100%);
}

.civil-gradient-background .big, 
.civil-gradient-background .small,
.cad-gradient-background .big,
.cad-gradient-background .small,
.topografia-gradient-background h2,
.topografia-gradient-background .basic,
.topografia-gradient-background .xsmall,
.strade-gradient-background h2,
.strade-gradient-background .basic,
.strade-gradient-background .xsmall,
.altro-gradient-background h2,
.altro-gradient-background .basic,
.altro-gradient-background .xsmall,
.idraulica-gradient-background h2,
.idraulica-gradient-background .basic,
.idraulica-gradient-background .xsmall {
  color: white;
}


.release {
  background-color: #F9F9F9;
}

.release .container {
  padding-bottom: 7.5rem;
}

.release iframe{
  padding-right: 3rem;
}

.cad-benefits {
  background-color: #F9F9F9;
}

.cad-benefits .container {
  padding-bottom: 7.5rem;
}

/* Softwares showcase - pagina di prodotti secondari */
.softwares-secondari .card  {
  border: none;
  border-radius: 0.7rem;
  background-color: white;
  box-shadow: 4px 4px 30px 0px rgba(100, 99, 99, 0.10);
}

.softwares-secondari .card small {
  color: #646363;
}

.softwares-secondari .card.primari img {
  width: 5.5rem;
  height: auto;
}

.softwares-secondari .card.secondari img {
  width: 3rem;
  height: auto;
}

.softwares-secondari .card .arrow-right {
  width: 2rem;
  height: auto;
}

.softwares-secondari .card.primari .arrow-right path {
  fill: #E73C14;
}

.softwares-secondari .card.primari .arrow-right.topografia path {
  fill: #6AA237;
}

 /* Soluzionni CIVIL Design e moduli CAD&Pillar (nav style) */
.soluzioni .nav-tabs .nav-item.show .nav-link, 
.soluzioni .nav-tabs .nav-link.active,
.moduli .nav-tabs .nav-item.show .nav-link, 
.moduli .nav-tabs .nav-link.active {
  color: #962D79;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-weight: 600;
}

.soluzioni .nav-tabs .nav-item.show .nav-link .xsmall, 
.soluzioni .nav-tabs .nav-link.active .xsmall,
.moduli .nav-tabs .nav-item.show .nav-link .xsmall, 
.moduli .nav-tabs .nav-link.active .xsmall {
  color: #962D79;
  font-weight: 600;
}

.soluzioni .nav-tabs .nav-link,
.moduli .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #BFBFBF;
}

.soluzioni .nav-tabs,
.moduli .nav-tabs {
  --bs-nav-tabs-border-color: #BFBFBF;
}

.soluzioni .nav-tabs .nav-link .xsmall,
.moduli .nav-tabs .nav-link .xsmall {
  color: #BFBFBF;
  font-weight: 600;
}

.soluzioni-icon {
  height: 2.5rem;
  width: auto;
  margin-bottom: 1rem;
}

.soluzioni .soluzioni-icon path,
.moduli .soluzioni-icon path {
  fill: #BFBFBF;
}

.soluzioni .nav-tabs .nav-item.show .soluzioni-icon path, 
.soluzioni .nav-tabs .nav-link.active .soluzioni-icon path {
  fill: #962D79;
}

.soluzioni .soluzione {
  background-color: #F9F9F9;
}

.soluzioni .soluzione-2 {
  background-color: #F2F2F2;
}

.soluzioni .arrow-right {
  width: 2.25rem;
  height: 2.25rem;
}

.soluzioni .arrow-right path {
  fill: #962D79;
}

.soluzioni .tab-content h3 {
  font-weight: 500;
}

/* For WebKit-based browsers (e.g., Chrome, Safari) */
.nav-container::-webkit-scrollbar { 
  border: none;
}

.nav-container::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf7b; 
}

/* For Firefox */
.nav-container {
  scrollbar-width: thin; 
  scrollbar-color: #bfbfbf7b #f1f1f1;
}

.nav-container::-webkit-scrollbar-track {
  background: #bfbfbf00; 
}

.nav-container::-webkit-scrollbar-thumb {
  background-color: #bfbfbf3c;
  border-radius: 20px; 
}

.nav-container::-webkit-scrollbar-thumb:hover, .nav-container::-webkit-scrollbar-thumb:focus  {
  background-color: #bfbfbf74;
}

 /* Modal soluzioni */
.soluzioni .modal {
  --bs-modal-width: 75%;
  padding: 0;
}

.soluzioni .modal-header {
  background-image: url(/static/img/bg-covers/hero-modal.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.soluzioni .modal-header h2, .soluzioni .modal-header p {
  color: #F9F9F9;
}

.soluzioni .modal-paragraph h5 {
  color: #67A237;
}

.soluzioni .modal-paragraph .bullet-circle-icon {
  width: 1.5rem;
  margin-right: 1rem;
}

.soluzioni .modal-link {
  background-color: #F9F9F9;
  margin-left: 1rem;
  cursor: pointer;
}

.soluzioni .modal-link .arrow-right {
  width: 1.5rem;
  height: 1.5rem;
}

.soluzioni .modal .close {
  width: 2rem;
  height: 2rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
}

/* CAD&Pillar moduli */
.moduli .nav-tabs .nav-item.show .nav-link, 
.moduli .nav-tabs .nav-link.active {
  color: #409BA3;
}

.moduli .nav-tabs .nav-item.show .nav-link .xsmall, 
.moduli .nav-tabs .nav-link.active .xsmall {
  color: #409BA3
}

.moduli .nav-tabs .nav-item.show .soluzioni-icon path, 
.moduli .nav-tabs .nav-link.active .soluzioni-icon path {
  fill: #409BA3;
}

.moduli .tab-content {
  background-color: #f9f9f9;
}

.moduli .tab-content h4{
  color: #409BA3;
}

/*Moduli - specifiche*/
.moduli .specifiche .nav-tabs {
  --bs-nav-tabs-border-color: transparent;
}

.moduli .specifiche .nav.nav-tabs .nav-item {
  border: 1px solid #F2F2F2;
  border-radius: 1rem 0rem 0rem 1rem;
  width: 100%;
}

.moduli .specifiche .nav-tabs .nav-item .nav-link.active {
  border: 1px solid #F2F2F2;
  border-radius: 1rem 0rem 0rem 1rem;
}

.moduli .specifiche .bullet-circle-icon path  {
  fill: #409BA3;
}

.moduli .specifiche .bullet-circle-icon {
  display: none;
}

.moduli .specifiche .nav-tabs .nav-item.show .nav-link .bullet-circle-icon, 
.moduli .specifiche .nav-tabs .nav-link.active .bullet-circle-icon {
  display: block;
  margin-left: 1rem;
}


.moduli .specifiche .nav-tabs .nav-item.show .nav-link, 
.moduli .specifiche .nav-tabs .nav-link.active {
  color: transparent;
}

.moduli .specifiche .nav-tabs .nav-item.show .nav-link h5,
.moduli .specifiche .nav-tabs .nav-link.active h5,
.moduli .specifiche .nav-tabs .nav-link h5  {
  color: #409BA3;
  padding: 1rem;
}

.moduli .specifiche .tab-content {
  border-radius: 0.3rem;
  background: white;
  box-shadow: 4px 4px 30px 0px rgba(100, 99, 99, 0.10);
}

 /* Requesti di sistema - prodotti primari */
 .requesti-primari .nav-tabs .nav-item.show .nav-link, 
 .requesti-primari .nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent transparent white;
  border-bottom: 4px solid white!important;
}

.requesti-primari.nav-tabs .nav-item.show .nav-link h4, 
.requesti-primari .nav-tabs .nav-link.active h4 {
  color: white;
  font-weight: 600;
}

.requesti-primari .nav-tabs .nav-link,
.faq .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.requesti-primari .nav-tabs .nav-link h4 {
  color: #FFFFFF80;
  font-weight: 600;
}

.requesti-primari .xsmall {
  color: white;
}

.requesti-primari .nav-tabs {
  --bs-nav-tabs-border-color: #FFFFFF80;
}

.requesti-primari .tab-content ul li {
  list-style-type: circle;
}

/*
.requesti-primari .tab-content ul li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  vertical-align: middle;
}
*/

 /* Requesti di sistema - prodotti secondari */
 .requesti-secondari .bullet-circle-icon path {
  fill: white;
 }

 /* FAQ - prodotti primari */
 .faq .nav-tabs .nav-item.show .nav-link, .faq .nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent transparent transparent;
  border-bottom: 8px solid #409BA3!important;
  font-weight: 600;
}

.faq .nav-tabs .nav-item.show.nav-link h4, 
.faq .nav-tabs .nav-link.active h4, 
.faq .nav-tabs .nav-link h4 {
  color: #212121;
  font-weight: 600;
}

.faq .nav-tabs .nav-link {
  margin-top: 1rem;
}

.faq .nav-tabs {
  --bs-nav-tabs-border-color: #ffffff00;
}

.faq .accordion {
  --bs-accordion-border-color: #f9f9f9;
  --bs-accordion-bg: #f9f9f9;
  --bs-accordion-border-radius: 5rem;
  --bs-accordion-active-color: #409BA3;
  --bs-accordion-active-bg:#f9f9f9;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
}

.faq .accordion-item {
  border-color: #f9f9f9;
  border-bottom: 1px solid #F2F2F2;
}

.faq .accordion-body.xsmall {
  color:#646363;
}

.secondari.img-md-text ul li,
.secondari.text-md-img ul li{
  list-style-type: circle;
}

.secondari.img-md-text ul li::marker,
.secondari.text-md-img ul li::marker {
  color: #E73C14;
}

 /*BUTTONS*/
 .civil-button, 
 .cad-button, 
 .topografia-button,
 .strade-button,
 .idraulica-button,
 .altro-button {
    position: relative; 
    padding: 10px 20px;
    background: linear-gradient(90.14deg, #67A237 0.13%, #409BA3 99.86%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.75813rem;
    letter-spacing: 0.1rem;
    border: 2px solid #409ba300;
  }
  
  .civil-button::before, 
  .cad-button::before,
  .topografia-button::before,
  .strade-button::before,
  .idraulica-button::before,
  .altro-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    background-image: url(/static/img/Vector2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
  }

  .civil-button:hover, 
  .cad-button:hover,
  .topografia-button:hover,
  .strade-button:hover,
  .idraulica-button:hover,
  .altro-button:hover  {
    background: white;
    border: 2px solid;
    color: #67a237;
  }

  .civil-button:hover::before, 
  .cad-button:hover::before,
  .topografia-button:hover::before,
  .strade-button:hover::before,
  .idraulica-button:hover::before,
  .altro-button:hover::before {
    display: none;
  }

  .cad-button {
    background: linear-gradient(74.59deg, #CD2127 0%, #FEC13B 100%);
    border: 2px solid #cd212700;
  }

  .cad-button:hover {
    color: #CD2127;
  }

  .topografia-button {
    background: radial-gradient(65.67% 100% at 50% 100%, #D34316 0%, #6AA237 100%);
  }
  .topografia-button:hover {
    color: #6AA237;
  }

  .strade-button {
    background: radial-gradient(65.67% 100% at 50% 100%, #D34316 0%, #EA801E 100%);
  }
  .strade-button:hover {
    color: #EA801E;
  }

  .idraulica-button {
    background: radial-gradient(65.67% 100% at 50% 100%, #D34316 0%, #1B6BC9 100%);
  }
  .idraulica-button:hover {
    color: #1B6BC9;
  }

  .altro-button {
    background: radial-gradient(65.67% 100% at 50% 100%, #D34316 0%, #C81D98 100%);
  }
  .altro-button:hover {
    color: #C81D98;
  }


  @media all and (max-width: 1200px) {
    .release iframe {
      padding-right: 1rem;
    }

    .soluzioni .nav-container {
      overflow-x: auto;
    }
    
    .soluzioni .nav-scrollable {
      display: flex;
      flex-wrap: nowrap;
    }
    
    .soluzioni .nav {
      display: flex;
      flex-wrap: nowrap;
    }
    
    .soluzioni .nav-tabs .nav-item {
      flex: 0 0 auto;
      white-space: nowrap;
    }
  }

  @media all and (max-width: 992px) {
    .release iframe{
      padding-right: unset;
    }

    .hero-secondari .container {
      padding-top: 15%;
    }
  }

  @media all and (max-width: 768px) {
    .hero-primari .container,
    .hero-secondari .container {
      padding-right: unset;
    }
    .release .container {
      padding-bottom: 4.5rem;
    }

    .soluzioni .modal-link {
      margin-left: unset;
    }

  }
  
  @media all and (max-width: 576px) {
    .hero-primari .container,
    .hero-secondari .container {
      padding-top: 25%;
    }

    .hero-primari .container img {
        height: 8rem;
        margin-top: 1rem;
    }
    .nav-tabs .nav-item {
      flex-basis: 50%; /* Adjust this value as needed */
    }
    
  }

  @media all and (max-width: 430px) {
    .requesti-primari .nav-tabs {
      --bs-nav-tabs-border-color: #ffffff00;
    }
  }

  