 .gallery .swiper {
    width: 100%;
    height: 43rem;
  }

  .gallery  .gallery .swiper-slide {
    height: 40rem;
  }

  .gallery .swiper-slide {
    width: 100%;
    height: 40rem;
}


  .gallery .swiper-slide img {
    display: block;
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.swiper-slide figure {
    position: relative;
    margin: 0;
    overflow: hidden;
}

  .swiper-pagination {
    display: flex;
    justify-content: center;
  }

  .partner-cards .swiper-pagination {
    bottom: -2rem!important;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }


  .swiper-pagination-bullet {
    width: 1.4rem;
    height: 0.3rem;
    background-color: black;
    display: block;
    border-radius: 10px!important;
    transition: all .3s ease-in-out;
    opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 2.2rem;
}

.swiper-custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.swiper-custom-nav img {
  cursor: pointer;
  opacity: .5;
  transition: all .3s ease-in-out;
}

.swiper-custom-nav img:hover {
  opacity: 1;
}

.partner-cards .swiper-custom-nav .card:hover {
  opacity: 1;
}

 #nav-left, #nav-right {
  visibility: hidden;
}

.swiper-custom-nav #nav-left {
  rotate: -180deg;
}

.swiper:hover #nav-left, .swiper:hover #nav-right {
 visibility: visible;
}

.gallery .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
}

.gallery  .swiper-slide:hover .slide-overlay {
  opacity: 1;
}

.gallery .slide-overlay h4, .gallery .slide-overlay p, .gallery  .slide-overlay li {
  color: white;
  text-align: center;
}

.swiper.softwaresSwiper {

  height: 100%;
  box-shadow: 4px 4px 30px 0px rgba(33, 33, 33, 0.10);
  border-radius: 5px;
}

.swiper.softwaresSwiper .swiper-slide {
  height: 100%;
}

.swiper.softwaresSwiper .swiper-pagination {
  visibility: hidden;
  bottom: 0.5rem;
}

.swiper.softwaresSwiper:hover .swiper-pagination {
  visibility: visible;
}

.swiper.softwaresSwiper .card {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.swiper.softwaresSwiper .card .link-arrow img {
  width: 2.5rem;
  height: 2.5rem;
}

.swiper.softwaresSwiper .card img{
  width: 6.7rem;
  height: 6.7rem;
  margin-right: 0.5rem;
}

.partner-cards {
  overflow: hidden;
}
.partner-cards .swiper {
  overflow: visible;
}

@media screen and (max-width: 1200px) {
  .swiper.softwaresSwiper {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .swiper {
    height: 100%;
  }
  .swiper-slide {
    height: 100%;
 }
  .swiper-slide img {
     height: 30rem;
  }
  
  .gallery .slide-overlay {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 1rem;
  }

  .gallery .slide-overlay h4, .gallery .slide-overlay p, .gallery  .slide-overlay li {
    color: black;
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .swiper-slide img {
    height: 20rem;
 }
}



    